.charts {
    margin: 2rem;
    padding: 2rem;
    box-shadow: $shadow-primary;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;

    &__content {
        padding: 2rem;
    }

    &__title {
        margin-bottom: 3rem;
    }
}
