.newUser {
    padding: 3rem;
    margin: 2rem;
    box-shadow: $shadow-primary;

    &__form {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-top: 2rem;
    }

    &__item {
        width: 45rem;
        display: flex;
        flex-direction: column;
        margin-top: 1rem;
        margin-right: 2rem;
    }

    &__item > label {
        margin-bottom: 1rem;
        font-size: 1.4rem;
        font-weight: 600;
    }

    &__input {
        padding: 1.5rem;
        border: 1px solid #999;
        border-radius: 5px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        -ms-border-radius: 5px;
        -o-border-radius: 5px;
    }

    &__gender > input {
        margin-top: -2rem;
    }

    &__gender > label {
        margin: 1rem;
    }

    &__form-submit {
        margin-right: 2rem;
        margin-top: 4rem;
    }

    &__btn {
        padding: 2rem 4rem;
        background-color: $color-secondary;
        color: $color-white;
        border-radius: 5px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        -ms-border-radius: 5px;
        -o-border-radius: 5px;
    }
}
